.progress{
  position: absolute;
  margin-right: 1px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1021;
  background-color: rgba(0,0,0,0.3);
}

.center{
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 1022;
}

.center small{
  margin-left: 25%;
}
