<app-menu-vista [vista]="{
  nombre: 'Clientes',
  titulo: 'Auxiliar'
}"></app-menu-vista>
<h5>Listado de Clientes</h5>
<div class="table-responsive">
  <table id="tableListadoClientes" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th>Asignado</th>
      <th>Posicion</th>
      <th>Oficina</th>
      <th>Edad</th>
      <th>Fecha Inicio</th>
      <th>Sueldo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="tg-us36">No</td>
      <td class="tg-us36">Competition</td>
      <td class="tg-us36">John</td>
      <td class="tg-us36">Adam</td>
      <td class="tg-us36">Robert</td>
      <td class="tg-us36">Paul</td>
    </tr>
    <tr>
      <td class="tg-us36">1</td>
      <td class="tg-us36">Swimming</td>
      <td class="tg-dvpl">1:30</td>
      <td class="tg-dvpl">2:05</td>
      <td class="tg-dvpl">1:15</td>
      <td class="tg-dvpl">1:41</td>
    </tr>
    <tr>
      <td class="tg-us36">2</td>
      <td class="tg-us36">Running</td>
      <td class="tg-dvpl">15:30</td>
      <td class="tg-dvpl">14:10</td>
      <td class="tg-dvpl">15:45</td>
      <td class="tg-dvpl">16:00</td>
    </tr>
    <tr>
      <td class="tg-us36">3</td>
      <td class="tg-us36">Shooting</td>
      <td class="tg-dvpl">70%</td>
      <td class="tg-dvpl">55%</td>
      <td class="tg-dvpl">90%</td>
      <td class="tg-dvpl">88%</td>
    </tr>
    </tbody>
  </table>
</div>
