<app-menu-vista [vista]="{
  nombre: 'Productos',
  titulo: 'Gestion de Inventario'
}"></app-menu-vista>
<h4>Detalle de Articulos.</h4>
<div class="table-responsive">
  <table id="tableListadoProductos" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th>PartNumber</th>
      <th>Descripción</th>
      <th>Fabricante</th>
      <th>Cod Fabricante</th>
      <th>Grupo</th>
      <th>SubGrupo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
